.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    display: inline;
    border-right: 1px solid #bbb;
}

.navbar a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
