<!DOCTYPE html>
<html>
  <title>Minecraft Points of Interest</title>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <!--navigation bar -->
    <p>
    <div class="navbar">
      <ul>
	<li><a href="/">home</a></li>
	<li><a href="/add_manual">add POI manually</a></li>
	<li><a href="/signup">signup</a></li>
	{% if not current_user.is_authenticated %}
	<li><a href="/login">login</a></li>
	{% else %}
	<li><a href="/logout">logout</a></li>
	{% endif %}
      </ul>
    </div>
    </p>

    {% if current_user.is_authenticated %}
    <h2> Welcome, {{ current_user.username }} </h2>
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    
    {% block content %}
    {% endblock %}

  </body>

</html>
